# 2017年基礎実験
## Jupyter Notebook を使った大規模データの可視化

本実験では、Jupyter Notebook を使って大規模データの可視化を行います。本実験では、生物学実験で得られたものではないデータも多く取り扱いますが、数値データを可視化し俯瞰することは解析の基礎であり、どのようなデータであれ非常に大切なことです。

### Jupyter Notebook (IPython Notebook) とは
* Python という名のプログラミング言語が使えるプログラミング環境。計算コードと計算結果を同じ場所に時系列で保存できるので、実験系における実験ノートのように、いつどんな処理を行って何を得たのか記録して再現するのに便利。
* [当学の演習室での使い方](https://raw.githubusercontent.com/maskot1977/-/master/%E6%BC%94%E7%BF%92%E5%AE%A4.txt)
* [個人PCでのインストールと始め方](http://www.task-notes.com/entry/20151129/1448794509)
* [小寺研究室](https://github.com/maskot1977/-/blob/master/L1%E3%82%BC%E3%83%9F2015%E5%B0%8F%E5%AF%BA%E7%A0%94%E7%A9%B6%E5%AE%A4.pptx.pdf) では、MacOSX上で右記のようにセットアップしています。> [環境構築](https://sites.google.com/site/masaakikotera/8-python/8-1-huan-jing-gou-zhu)

### 本実習で用いるデータ
* 「ニューヨークの大気状態観測値」
* 「合州国の州別暴力犯罪率」
* 「スポーツテストデータ」
* 「好きなアイスクリームアンケート」
* 「新国民生活指標データ」
* 「都道府県別アルコール類の消費量」
* 「スイス銀行紙幣データ」
* 「ワインの品質」
* 「あやめのデータ」
* 「あわびのデータ」
* 「ピマ・インディアンの糖尿病診断」
* 「パーキンソン病診断データ」
* 「大腸菌タンパク質の細胞内局在」
* 「酵母タンパク質の細胞内局在」

次のリンクをクリックして、中身を確認してください。
http://nbviewer.jupyter.org/github/maskot1977/ipython_notebook/blob/master/%E5%AE%9F%E7%BF%92%E7%94%A8%E3%83%86%E3%82%99%E3%83%BC%E3%82%BF2017.ipynb

## 本実習スタート

私の担当回では、実験の班分けは関係ありません。個人で課題を解いて、個人で提出してください。また、友達同士で話し合ったり助け合ったりすることは自由です。ただし、レポートは個人個人ですので、それぞれ自分のオリジナリティを出すこと。

### レポートの提出方法について

下記の課題のレポートを、指定されたメールアドレスまで送信してください。
* 締切：７日後の１３時２０分。提出締切厳守とします（遅れた場合、受け取らない場合があります）。
* 提出方法：Microsoft Word、Microsoft PowerPoint、あるいは .ipynbファイルのいずれかの形式のファイルでレポートを作成し、指定されたメールアドレスまでメールで送信してください。メールタイトルは「2017基礎実験」とし、メール本文と添付ファイルの両方に、学籍番号と氏名を明記すること。

### Step 1. まずは、ウォーミングアップから
まずは次のリンクをクリックして、Pythonで簡単な計算をしてみましょう。
http://nbviewer.jupyter.org/github/maskot1977/ipython_notebook/blob/master/Python%E3%82%A6%E3%82%A9%E3%83%BC%E3%83%9F%E3%83%B3%E3%82%AF%E3%82%99%E3%82%A2%E3%83%83%E3%83%95%E3%82%9A.ipynb

### Step 2. ライブラリのインポート、乱数、そしてMatplotlibによる描画
Pythonでは、皆がよく使う関数などをライブラリとしてまとめてあり、それをインポートして使います。乱数のライブラリの使い方や、ヒストグラムなどのグラフの描画の仕方を体験してみましょう。
http://nbviewer.jupyter.org/github/maskot1977/ipython_notebook/blob/master/%E3%83%A9%E3%82%A4%E3%83%95%E3%82%99%E3%83%A9%E3%83%AA%E3%81%AE%E3%82%A4%E3%83%B3%E3%83%9B%E3%82%9A%E3%83%BC%E3%83%88%E3%80%81%E4%B9%B1%E6%95%B0%E3%80%81%E3%81%9D%E3%81%97%E3%81%A6Matplotlib%E3%81%AB%E3%82%88%E3%82%8B%E6%8F%8F%E7%94%BB.ipynb

### Step 3. Numpy と Pandas を用いた演算
行列データの取り扱いについて、簡単に学んでみましょう。
http://nbviewer.jupyter.org/github/maskot1977/ipython_notebook/blob/master/Numpy%20%E3%81%A8%20Pandas%20%E3%82%92%E7%94%A8%E3%81%84%E3%81%9F%E6%BC%94%E7%AE%97.ipynb

### Step 4. タブ区切りデータ、コンマ区切りデータ等の読み込み
Matplotlibを使って、簡単なグラフを描いてみましょう。各自の画面中の IPython Notebook のセルに順次入力して（コピペ可）、「Shift + Enter」してください。

In [165]:
import matplotlib.pyplot as plt
e.plot()

In [166]:
e

   0  1  2  3  4  5  6  7  8  9
0  2  4  0  7  2  4  5  2  1  8
1  7  6  7  4  1  8  3  0  5  8
2  3  8  6  4  7  4  2  7  9  4
3  5  2  2  9  9  1  6  9  0  3